@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container-main {
    overflow: hidden;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: aliceblue;
    font-family: passion one, Helvetica, sans-serif;
    gap: 13px;
    padding: 55px;
    height: 240px;
}

.content-title {
    font-size: 120px;
    font-weight: 500;
}

.content-title-two {
    font-size: 19px;
    font-weight: 200;
}

.container-article {
    display: flex;
    flex-direction: column;
    font-family: Sriracha, cursive, Helvetica, sans-serif;
    font-size: 29px;
    font-weight: 400;
    margin: 22px;
    padding-top: 60px;
}

.article {
    white-space: pre-line;
}

.first-article {
    padding-bottom: 90px;
}

.container-second-article {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    color: white;
    font-family: Sriracha, cursive, sans-serif;
    font-size: 18px;
    height: 30px;
}

